.mainHero{
    color:#17a2b8;
    margin-top: 5%;
    display: flex;
    font-size: 2rem;
    flex:1 1 1 200px;
 
    
}
.mainHero p{
    color: #0d5661
}
.mainHero .Herolink{
text-decoration:none;
}

.childImage{
    width: 50%;
    border-radius:10%
}
.contentHero{display: flex;
flex-direction:row;
align-items: flex-start;
flex:1 1 auto;
margin-bottom:50px
;}
.subTitleHero{
    padding: 10px;
    margin:10px;
    font-size: 3rem;
    color:#17a2b8;
    

}
@media only screen and (max-width: 840px) {
    .mainHero{
   flex-direction:column;
    align-items:center;
    font-size:1rem;
    padding:0%;
    
    }
    .subTitleHero{
font-size:1.5rem
    }
    .childImage{
        width:100%
    }

    }
