.mainCont{
    margin: 2%;
    
}
.question{
    color: #17a2b8;
    font-size: 3rem;

}

.chooseStage{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     width: max-content;

     
}
.chooseStage .link{
font-size: 1.5rem;
    margin: 3px;
     color:#145a75;
     cursor:pointer;
   
}

.chooseStage .link:hover{
    box-shadow: 2px 2px 2px 2px #145a75;
}
.doctor{
    position:fixed;
    top: 30%;
    right: 79%;
    z-index: -1;
}

@media (max-width: 700px) {
  .question{font-size:2rem;}
  .chooseStage .link{font-size:1rem}
 .mainCont{margin: 0;}
   .chooseStage .link{margin: 0;}
}