.mainCont{

    background: white ;
    margin: 2%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-left: 60%;
    
}
.question{
    color: #17a2b8;
    font-size: 3rem;

}

.chooseStage{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     width: max-content;

     
}
.chooseStage .link{
    font-family: 'Harmattan', sans-serif;
font-size: 25px;
    margin: 3px;
     color:#145a75;
     cursor:pointer;
   
}

.chooseStage .link:hover{
    box-shadow: 2px 2px 2px 2px #145a75;
}
.doctor{
    position:fixed;
    top: 30%;
    right: 79%;
    z-index: -1;
}

@media (max-width: 700px) {
    .chooseStage h2{font-size: 60%;}
   .mainCont{margin: 0;}
   .chooseStage .link{margin: 0;}
}